:root {
  --sidebar-width: 150px;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: var(--sidebar-width);
  background-color: #191718;
}

.sidebar-logo {
  background-color: #aaa;
  display: none;
}

#close-menu-btn {
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 6px;
}

.sidebar-logo__img {
  width: 60%;
  padding-top: 16px;
  padding-bottom: 10px;
  display: block;
  margin: 0 auto;
}

#close-menu-btn:hover {
  color: #fff;
  background-color: #191718;
}

.sidebar.sidebar-tablet-and-moblie {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 180px;
}

.menu-item__link {
  display: block;
  cursor: pointer;
  font-weight: 700;
  color: #aaa;
  padding: 14px 0 11px 16px;
  border-bottom: 1px solid #5c5c5c;
  transition: background-color 0.3s;
}

.menu-item__link:hover {
  color: #fff;
  background-color: #aaa;
}

.menu-item__link--active {
  color: #fff;
}

/* Main content */
.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content__main {
  flex: 1;
  padding-top: 20px;
  padding-bottom: 40px;
}

.wrapper-logo {
  position: relative;
  margin-bottom: 30px;
}

#menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  padding: 8px;
  border-radius: 6px;
  transition: 0.3s;
  display: none;
}

#menu:hover {
  background-color: #efefef;
}

.wrapper-logo .logo {
  display: block;
  margin: 0 auto;
  width: 310px;
}

.main-article {
  text-align: center;
  padding: 30px 60px;
  background-color: #efefef;
  margin-bottom: 40px;
}

.main-article__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
}

.main-article__description {
  margin: 0 auto;
  max-width: 836px;
}

.main-products {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
}

.main-products__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 18px;
}

.main-products__detail::after {
  content: '';
  display: block;
  clear: both;
}

.main-products__detail .product-img {
  float: left;
  margin-right: 16px;
}

/* Footer */
.footer {
  border-top: 1px solid #dedede;
}

.footer__author {
  padding: 30px 0;
}
